{{#article}}
    <article>
        <h1>{{name}}</h1>
        <p> {{published}} </p>
<<<<<<< HEAD
        <p> {{author_name}} </p>
=======
>>>>>>> 3-as-a-user-i-can-see-single-yoga-article
        <p><img src="/images/{{image}}"></p>
        {{body}}
    </article>
{{/article}}